<h1>Edit the Photo</h1>

<form action="http://localhost:3000/update_photo/<%= @photo.id %>">
  <div>
    <label for="photo_caption">Caption:</label>
    <input type="text" name="the_caption" value="<%= @photo.caption %>">
  </div>
  <div>
    <label for="photo_image_url">Image URL:</label>
    <input type="text" name="the_source" value="<%= @photo.source %>">
  </div>
  <div>
    <button>Update Photo</button>
  </div>
</form>