<h1>Add A New photo</h1>

<form action="http://localhost:3000/create_photo">
  <div>
    <label for="photo_caption">Caption:</label>
    <input id="photo_caption" type="text" name="the_caption">
  </div>
  <div>
    <label for="photo_image_url">Image URL:</label>
    <input id="photo_image_url" type="text" name="the_source">
  </div>
  <div>
    <button>Create Photo</button>
  </div>
</form>