<h1>Photo Details</h1>
<div>
	<img src="<%= @ph.source %>" width="720">
</div>
<div>
	<%= @ph.caption %>
</div>
<div>
	<tr>
	    <td>
	      <a href="http://localhost:3000/photos">Back</a>
	    </td>
	    <td>
	      <a href="http://localhost:3000/photos/<%= @ph.id %>/edit">Edit</a>
	    </td>
	    <td>
	      <a href="http://localhost:3000/delete_photo/<%= @ph.id %>">Delete</a>
	    </td>
	 </tr>
 </div>